img {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  float:right;
  border: solid;
  border-radius: 25px;
}

.topleft {
  float: left;
  list-style-type: none;
  padding: inherit;
  color: white;
  padding: inherit;
  border: solid #fff;
  margin: 8px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px
}

.topbar {
  float: right;
}

.orl li{
  list-style-type: lower-roman;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  font-family: serif;;
  font-weight: bolder;
  background-color: #848484;
  padding: 3px;
}

body {
  font-family:sans-serif;
  background-image: url(http://bgfons.com/upload/paper_texture329.jpg);
}

h1 {
  margin-left: 30px;
}

.whole {
  margin-left: 15px;
}

ul li {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  max-width: inherit;
  margin-right: 10px;
  background-color: #848484;
  padding: 3px;
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #c1d3f0;
}

.par {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  max-width: inherit;
  padding: 5px;
  margin-bottom: 40px;
  margin-right: 10px;
  font-family: serif;
  font-weight: bolder;
  background-color: #848484;
  margin-left: 25px;
}

.uno {
  font-family: serif;
  font-weight: bolder;

}

address {
  margin-left: 15px;
}
